header nav ul.nav-list {
  gap: 40px;
}

@media screen and (min-width: 767px) {
  .toggle-btn {
    display: none;
  }

  .open-nav-btn {
    display: none;
  }
}

.close-nav-btn {
  display: none;
}

@media screen and (max-width: 767px) {
  header nav .mobile-nav {
    position: absolute;
    background-color: #1A3D36;
    top: -100vh;
    right: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.5s ease-in-out;
    z-index: 1000;
  }

  header nav ul {
    padding-inline: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    flex-direction: column;
    text-align: center;
  }

  header nav ul li .list {
    color: white;
    font-size: 28px;
  }

  header nav.responsive .mobile-nav {
    top: 0vh;
  }

  header nav .close-nav-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    height: 40px;
    width: 40px;
    transition: display 0.5s ease-out;
  }
}
